In [2]:
import pandas as pd
from app.config import POLLING_INTERVAL, s3, S3_BUCKET_NAME, S3_ENDPOINT
from app.utilities import download_file

In [2]:
download_file('validation/uploaded/excel.xlsx', 'temp.xlsx')

In [34]:
df = pd.read_excel('app/temp2.xlsx')
df

  afgasd asdg
0    NaN  sdf
1   asdg  NaN
2      a  NaN

In [35]:
df = pd.read_excel('app/temp2.xlsx', header=None)
df

        0     1
0  afgasd  asdg
1     NaN   sdf
2    asdg   NaN
3       a   NaN

In [32]:
# If it has a header
def only_keep_column(df, column_name):
    return pd.DataFrame(df[column_name])

df = only_keep_column(df, 'asdg')
df

  asdg
0  sdf
1  NaN
2  NaN

In [29]:
def name_column_email(df):
    # Get the current column name
    current_column_name = df.columns[0]

    # Rename the column to 'Email'
    df.rename(columns={current_column_name: 'Email'}, inplace=True)

    return df

In [33]:
name_column_email(df)

  Email
0   sdf
1   NaN
2   NaN

In [8]:
df.dropna(inplace=True)
df

Empty DataFrame
Columns: [boo, asdg, asdf]
Index: []