In [2]:
import pandas as pd
from app.config import POLLING_INTERVAL, s3, S3_BUCKET_NAME, S3_ENDPOINT
from app.utilities import download_file

In [2]:
download_file('validation/uploaded/excel.xlsx', 'temp.xlsx')

In [4]:
df = pd.read_excel('app/temp.xlsx')
df

      boo
0  afgasd
1     NaN
2    asdg
3       a

In [5]:
df.dropna()

      boo
0  afgasd
2    asdg
3       a